{% extends "index.html" %} 
{% load static %} 
{% load custom_filters %}
{% block Page_Content %}

<style>
    @import url(http://fonts.googleapis.com/css?family=Open+Sans);
    /* apply a natural box layout model to all elements, but allowing components to change */
    
    .activity-feed {
      padding: 15px;
    }
    .activity-feed .feed-item {
      position: relative;
      padding-bottom: 20px;
      padding-left: 30px;
      border-left: 2px solid #e4e8eb;
    }
    .activity-feed .feed-item:last-child {
      border-color: transparent;
    }
    .activity-feed .feed-item:after {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: -6px;
      width: 10px;
      height: 10px;
      border-radius: 6px;
      background: #fff;
      border: 1px solid #f37167;
    }
    .activity-feed .feed-item .date {
      position: relative;
      top: -5px;
      color: #8c96a3;
      text-transform: uppercase;
      font-size: 13px;
    }
    .activity-feed .feed-item .text {
      position: relative;
      top: -3px;
    }



    .profile-image-container {
        position: relative;
        display: inline-block;
    }
    
    .profile-image {
        width: 106px;
        height: auto;
    }
    .profile-images {
        width: 86px;
        height: auto;
    }
    
    .change-picture-button {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
        color: #fff;
        border: none;
        cursor: pointer;
        opacity: 0;
        transition: opacity 0.3s ease;
        border-radius: 9px;
    }
    
    .profile-image-container:hover .change-picture-button {
        opacity: 1;
    }
    .delete-picture-button {
        display: flex;
        position: absolute;
        top: 15px;
        left: 120px;
        cursor: pointer;
    }
    .delete-picture-button .fa {
        background: #4e73df;
        padding: 2px 4px;
        border-radius: 50%;
        color: #fff;
        transition: color 0.3s;
        text-decoration: none;
    }
    .delete-picture-button:hover .fa{
        color: #000;
    }
    .mobile{
        display:none;
    }
    .grid-mob{
        display:none;
    }
    .dot-active {
        height: 12px;
        width: 12px;
        background-color: #00ff00;
        border-radius: 50%;
        display: inline-block;
        position: absolute;
        margin-left: -20px;
        margin-top: 8px;
      }
    .dot-inactive {
        height: 12px;
        width: 12px;
        background-color: red;
        border-radius: 50%;
        display: inline-block;
        position: absolute;
        margin-left: -20px;
        margin-top: 8px;
      }
    @media(max-width: 425px) {
        .grid-web{
            display:none;
        }
        .grid-mob{
            display:block;
        }
    }
    @media(max-width: 324px) {
        .web{
            display:none;
        }
        .mobile{
            display:block;
        }
        .profile-image {
            width: 86px;
            height: auto;
        }
        .profile-images {
            width: 66px;
            height: auto;
        }
        .card-body {
            font-size: 13.8px;
        }
        .btn-mobile{
            display: flex;
            column-gap: 5px;
            margin-left: -30px;
        }
        .txt-mobile{
            margin-left: -30px;
        }
    }
</style>
<div class="card shadow mb-4">
    <div class="card-header py-4 px-4 d-flex justify-content-between">
        <div  style="display: flex;align-items: center;column-gap: 23px;">
            <div class="profile-image-container">
                {% if user.profile_img %}
                    <img class="img-xs rounded profile-image" src="{{ user.profile_img.url }}" alt="Profile image">
                {% else %}
                    <img class="img-xs rounded profile-image" src="https://ui-avatars.com/api/?background=a3a4cc&color=fff&size=106&name={{ user.first_name }}&rounded=false&bold=true" alt="Profile image">
                {% endif %}
                {% if user.status == 'Active' %}
                <span class="dot-active" title="Status"></span>
                {% else %}
                <span class="dot-inactive" title="Status"></span>
                {% endif %}
                
                <input type="file" id="profile-image-input" style="display: none;">
                <button id="change-picture-button" class="change-picture-button">Change Picture</button>
            </div>
            {% if user.profile_img %}
            <a id="delete-picture-button" class="delete-picture-button"><i class="fa fa-times"></i></a>
            {% endif %}
            <h3 class="m-0 font-weight-bold text-primary">{{user.first_name}} {{user.last_name}}</h3>
        </div>
        <div style="display: grid;justify-items: end;">
            <a href="{% url 'Edit_user' useredit_id=user.id %}?next={{ request.path }}" style="font-size: 20px;"><i class="fas fa-edit"></i></a><br>
            <a href="{% url 'change_user_password' user_id=user.id %}" class="btn btn-primary grid-web"><i class="fas fa-key"></i> Change Password</a>
            <a href="{% url 'change_user_password' user_id=user.id %}" class="btn btn-primary grid-mob"><i class="fas fa-key"></i></a>
        </div>
    </div>
    <div class="card-body">
        <div class="row font-sizes">
            <div class="col-3">
                Email
            </div>:
            <div class="col-8">
                {{user.email}}
            </div><br>
            <div class="col-3">
                Phone
            </div>:
            <div class="col-8">
                {% if user.Phone_number %}
                {{user.Phone_number}}
                {% endif %} 
            </div>
            <div class="col-3">
                Role
            </div>:
            <div class="col-8">
                {% if user.role %}
                {{user.role}}
                {% endif %} 
            </div>
            <div class="col-3">
                Type
            </div>:
            <div class="col-8">
                {% if user.Type %}
                {{user.Type}}
                {% endif %} 
            </div>
        </div>
    </div>
</div>

<div class="card shadow mb-4">
    <div class="card-header py-4 px-4">
        <p> 
            
            {% if request.user.is_superuser %}
                <a class="btn btn-primary" data-toggle="collapse" href="#multiCollapseExample1" role="button" aria-expanded="false" aria-controls="multiCollapseExample1">Doctor And Staff</a>
            {% else %}
                {% for i in request.user.role.permissions.all %}
                    {% if i.path_name == 'View User' %}
                        <a class="btn btn-primary" data-toggle="collapse" href="#multiCollapseExample1" role="button" aria-expanded="false" aria-controls="multiCollapseExample1">Doctor And Staff</a>
                    {% endif %}
                {% endfor %}
            {% endif %}

            {% if request.user.is_superuser %}
                <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#multiCollapseExample2" aria-expanded="false" aria-controls="multiCollapseExample2">Permission</button>
            {% else %}
                {% for i in request.user.role.permissions.all %}
                    {% if i.path_name == 'View Path' %}
                        <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#multiCollapseExample2" aria-expanded="false" aria-controls="multiCollapseExample2">Permission</button>
                    {% endif %}
                {% endfor %}
            {% endif %}

            {% if request.user.is_superuser %}
                <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#multiCollapseExample3" aria-expanded="false" aria-controls="multiCollapseExample3">Role</button>
            {% else %}
                {% for i in request.user.role.permissions.all %}
                    {% if i.path_name == 'View Role' %}
                        <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#multiCollapseExample3" aria-expanded="false" aria-controls="multiCollapseExample3">Role</button>
                    {% endif %}
                {% endfor %}
            {% endif %}

            <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#multiCollapseExample4" aria-expanded="false" aria-controls="multiCollapseExample4">My Activity Log</button>

        </p>

        {% if request.user.is_superuser or request.user|has_permission:"View User" %}
            <div class="collapse multi-collapse {% if request.user|has_permission:"View User" %}show{% else %}{% endif %}" id="multiCollapseExample1">
                <div class="card-header d-flex justify-content-between" style="border: 1px solid #e3e6f0;align-items: baseline;">
                    <h6 class="m-0 font-weight-bold text-primary">User</h6>
                    {% if request.user.is_superuser %}
                        <button onclick="window.location.href='{% url 'Add_user' %}'" class="btn btn-primary text-white" type="button">
                            <i class="fa fa-plus"></i> Add
                        </button>
                    {% else %}
                        {% for i in request.user.role.permissions.all %}
                            {% if i.path_name == 'Add User' %}
                                <button onclick="window.location.href='{% url 'Add_user' %}'" class="btn btn-primary text-white" type="button">
                                    <i class="fa fa-plus"></i> Add
                                </button>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                </div>
                {% if user_profiles %}
                <div class="row">
                    {% for user_profile in user_profiles %}
                    <div class="col-sm-4 p-2">
                        <div class="card">
                            <div class="card-body" style="display: flex;column-gap: 35px;">
                                <div>
                                    {% if user_profile.profile_img %}
                                    <img class="img-xs rounded profile-images" src="{{ user_profile.profile_img.url }}" alt="Profile image">
                                    {% else %}
                                    <img class="img-xs rounded profile-images" src="https://ui-avatars.com/api/?background=a3a4cc&color=fff&size=86&name={{ user_profile.first_name }}&rounded=false&bold=true" alt="Profile image">
                                    {% endif %}
                                    {% if user_profile.status == 'Active' %}
                                    <span class="dot-active" title="Status"></span>
                                    {% else %}
                                    <span class="dot-inactive" title="Status"></span>
                                    {% endif %}
                                    <p class="card-text d-flex justify-content-center" style="padding:5px;font-weight: 800;">{{ user_profile.Type }}</p>
                                </div>
                                <div class="web">
                                    <h5 class="card-title">{{ user_profile.first_name }} {{ user_profile.last_name }}</h5>
                                    <p class="card-text">{{ user_profile.Phone_number }}</p>

                                    {% if request.user.is_superuser %}
                                        <a href="{% url 'Edit_user' useredit_id=user_profile.id %}" class="btn btn-primary">Edit</a>
                                    {% else %}
                                        {% for i in request.user.role.permissions.all %}
                                            {% if i.path_name == 'Edit User' %}
                                                <a href="{% url 'Edit_user' useredit_id=user_profile.id %}" class="btn btn-primary">Edit</a>
                                            {% endif %}
                                        {% endfor %}
                                    {% endif %}

                                    {% if request.user.is_superuser %}
                                        <a href="{% url 'User_list' userview_id=user_profile.id %}" class="btn btn-primary">View</a>
                                    {% else %}
                                        {% for i in request.user.role.permissions.all %}
                                            {% if i.path_name == 'View User' %}
                                                <a href="{% url 'User_list' userview_id=user_profile.id %}" class="btn btn-primary">View</a>
                                            {% endif %}
                                        {% endfor %}
                                    {% endif %}

                                </div>
                                <div class="mobile">
                                    <div class="txt-mobile">
                                        <h5 class="card-title">{{ user_profile.first_name }} {{ user_profile.last_name }}</h5>
                                        <p class="card-text">{{ user_profile.Phone_number }}</p>
                                    </div>
                                    <div class="btn-mobile">
                                        <a href="{% url 'Edit_user' useredit_id=user_profile.id %}" class="btn btn-primary">Edit</a>
                                        <a href="{% url 'User_list' userview_id=user_profile.id %}" class="btn btn-primary">View</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                {% else %}
                <label for="" class="text-primary row" style="display: flex;border: 1px solid #e3e6f0;margin: 0px;margin-top: 10px;padding: 20px;">No Matches Found</label>
                {% endif %}
            </div>
        {% endif %}

        {% if request.user.is_superuser or request.user|has_permission:"View Path" %}
            <div class="collapse multi-collapse {% if request.user|has_permission:"View User" %}{% else %}{% if request.user|has_permission:"View Path" %}show{% endif %}{% endif %}" id="multiCollapseExample2">
                <div class="card card-body">
                    <div class="card-header py-3 d-flex justify-content-between align-items-center">
                        <h6 class="m-0 font-weight-bold text-primary">Permission</h6>

                        {% if request.user.is_superuser %}
                            <button onclick="window.location.href='{% url 'Add_path' %}'" class="btn btn-primary text-white" type="button">
                                <i class="fa fa-plus"></i> Add
                            </button>
                        {% else %}
                            {% for i in request.user.role.permissions.all %}
                                {% if i.path_name == 'Add Path' %}
                                    <button onclick="window.location.href='{% url 'Add_path' %}'" class="btn btn-primary text-white" type="button">
                                        <i class="fa fa-plus"></i> Add
                                    </button>
                                {% endif %}
                            {% endfor %}
                        {% endif %}

                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                <thead>
                                    {% if paths %}
                                    <tr>
                                        <th>#</th>
                                        <th>Name</th>
                                        <th>Parent</th>
                                        <th>Status</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tfoot>
                                    <tr>
                                        <th>#</th>
                                        <th>Name</th>
                                        <th>Parent</th>
                                        <th>Status</th>
                                        <th></th>
                                    </tr>
                                </tfoot>
                                <tbody>
                                    {% for path in paths %}
                                    <tr>
                                        <td>{{forloop.counter}}</td>
                                        <td>{{path.path_name}}</td>
                                        {% if path.parent %}
                                        <td>{{path.parent}}</td>
                                        {% else %}
                                        <td></td>
                                        {% endif %}
                                        <td><label class="{% if path.status == 'Active' %}badge badge-success{% else %}badge badge-danger{% endif %}">
                                            {{ path.status }}
                                        </label></td>
                                        <td>

                                            {% if request.user.is_superuser %}
                                                <button onclick="window.location.href='{% url 'Edit_path' pathedit_id=path.id %}'" class="btn btn-primary text-white" type="button">
                                                <i class="fa fa-edit"></i>
                                                </button>
                                            {% else %}
                                                {% for i in request.user.role.permissions.all %}
                                                    {% if i.path_name == 'Edit Path' %}
                                                        <button onclick="window.location.href='{% url 'Edit_path' pathedit_id=path.id %}'" class="btn btn-primary text-white" type="button">
                                                        <i class="fa fa-edit"></i>
                                                        </button>
                                                    {% endif %}
                                                {% endfor %}
                                            {% endif %}
                                        </td>
                                        
                                    </tr>
                                    {% endfor %}
                                    {% else %}
                                    <label for="" class="text-primary">No Matches Found</label>
                                    {% endif %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}

        {% if request.user.is_superuser or request.user|has_permission:"View Role" %}
            <div class="collapse multi-collapse {% if request.user|has_permission:"View User" %}{% else %}{% if request.user|has_permission:"View Path" %}{% else %}{% if request.user|has_permission:"View Role" %}show{% endif %}{% endif %}{% endif %}" id="multiCollapseExample3">
                <div class="card card-body">
                    <div class="card-header py-3 d-flex justify-content-between align-items-center">
                        <h6 class="m-0 font-weight-bold text-primary">Roles</h6>

                        {% if request.user.is_superuser %}
                            <button onclick="window.location.href='{% url 'Add_role' %}'" class="btn btn-primary text-white" type="button">
                                <i class="fa fa-plus"></i> Add
                            </button>
                        {% else %}
                            {% for i in request.user.role.permissions.all %}
                                {% if i.path_name == 'Add Role' %}
                                    <button onclick="window.location.href='{% url 'Add_role' %}'" class="btn btn-primary text-white" type="button">
                                        <i class="fa fa-plus"></i> Add
                                    </button>
                                {% endif %}
                            {% endfor %}
                        {% endif %}

                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                <thead>
                                    {% if roles %}
                                    <tr>
                                        <th>#</th>
                                        <th>Role</th>
                                        <th>Status</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tfoot>
                                    <tr>
                                        <th>#</th>
                                        <th>Role</th>
                                        <th>Status</th>
                                        <th></th>
                                    </tr>
                                </tfoot>
                                <tbody>
                                    {% for role in roles %}
                                    <tr>
                                        <td>{{forloop.counter}}</td>
                                        <td>{{role.role}}</td>
                                        <td><label class="{% if role.status == 'Active' %}badge badge-success{% else %}badge badge-danger{% endif %}">
                                            {{ role.status }}
                                        </label></td>
                                        <td>

                                        {% if request.user.is_superuser %}
                                            <a href="{% url 'Add_permissions' perm_id=role.id %}" class="btn btn-outline-primary">Set Permission</a>
                                        {% else %}
                                            {% for i in request.user.role.permissions.all %}
                                                {% if i.path_name == 'Set Permissions' %}
                                                    <a href="{% url 'Add_permissions' perm_id=role.id %}" class="btn btn-outline-primary">Set Permission</a>
                                                {% endif %}
                                            {% endfor %}
                                        {% endif %}

                                        {% if request.user.is_superuser %}
                                            <button onclick="window.location.href='{% url 'Edit_role' roleedit_id=role.id %}'" class="btn btn-primary text-white" type="button">
                                                <i class="fa fa-edit"></i>
                                            </button>
                                        {% else %}
                                            {% for i in request.user.role.permissions.all %}
                                                {% if i.path_name == 'Edit Role' %}
                                                    <button onclick="window.location.href='{% url 'Edit_role' roleedit_id=role.id %}'" class="btn btn-primary text-white" type="button">
                                                        <i class="fa fa-edit"></i>
                                                    </button>
                                                {% endif %}
                                            {% endfor %}
                                        {% endif %}

                                        </td>
                                    </tr>
                                    {% endfor %}
                                    {% else %}
                                    <label for="" class="text-primary">No Matches Found</label>
                                    {% endif %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}

        <div class="collapse multi-collapse {% if request.user|has_permission:"View User" %}{% elif request.user|has_permission:"View Path" %}{% elif request.user|has_permission:"View Role" %}{% else %}show{% endif %}" id="multiCollapseExample4">
            <div class="card card-body">
                <div class="card-header py-4 px-4" style="border-bottom: 0px solid #e3e6f0;">  
                    {% if user_logs %}
                        
                        <div class="activity-feed">
                            {% for user_log in user_logs %}
                            <div class="feed-item">
                                <div class="date">{{user_log.created_at}}</div>
                                <div class="text">{% if user_log.effected_user %}Effected user: {{user_log.effected_user.first_name}} {{user_log.effected_user.last_name}}{% endif %}</div>
                                <div class="text">{{user_log.log_type}} {% if user_log.remarks %}- {{user_log.remarks}}{% endif %}</div>
                            </div>
                            {% endfor %}
                        </div>
                        
                    {% else %}
                    <label for="" class="text-primary">No Matches Found</label>
                    {% endif %}
                </div>
            </div>
        </div>

    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="deletePictureModal" tabindex="-1" aria-labelledby="deletePictureModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deletePictureModalLabel">Confirm Delete</h5>
          <a href="{% url "Profile" %}" class="btn-close"><i class="fa fa-times"></i></a>
        </div>
        <div class="modal-body">
          Are you sure you want to delete your profile picture?
        </div>
        <div class="modal-footer">
            <a href="{% url "Profile" %}" class="btn btn-secondary">Cancel</a>
          <button type="button" class="btn btn-primary" id="confirmDeletePicture">Delete</button>
        </div>
      </div>
    </div>
</div>



<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
$(document).ready(function() {
    $('#change-picture-button').click(function() {
        $('#profile-image-input').click(); // Trigger the file input click event
    });

    $('#profile-image-input').change(function() {
        var formData = new FormData();
        formData.append('profile_img', $(this)[0].files[0]);

        // Get CSRF token from cookie
        var csrftoken = getCookie('csrftoken');

        $.ajax({
            url: '/change_profile_image/', // Your Django URL to handle profile image change
            type: 'POST',
            data: formData,
            processData: false,
            contentType: false,
            headers: {
                'X-CSRFToken': csrftoken // Include CSRF token in request headers
            },
            success: function(response) {
                $('#profile-image').attr('src', response.url);
                location.reload();
            },
            error: function(xhr, status, error) {
                console.error(xhr.responseText);
            }
        });
    });
});

// Function to get CSRF token from cookie
function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = cookies[i].trim();
            // Check if cookie name matches the CSRF token cookie name
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}
</script>

<script>
    $(document).ready(function() {
        $('#delete-picture-button').click(function() {
            $('#deletePictureModal').modal('show');
        });
    
        $('#confirmDeletePicture').click(function() {
            $.ajax({
                url: '/delete_profile_image/', // Your Django URL to handle profile image deletion
                type: 'POST',
                headers: {
                    'X-CSRFToken': getCookie('csrftoken') // Include CSRF token in request headers
                },
                success: function(response) {
                    location.reload(); // Refresh the page after successful deletion
                },
                error: function(xhr, status, error) {
                    console.error(xhr.responseText);
                }
            });
        });
    
        // Function to get CSRF token from cookie
        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = cookies[i].trim();
                    // Check if cookie name matches the CSRF token cookie name
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
    });
</script>
<script>
    // JavaScript to toggle visibility of collapsible sections
    document.addEventListener("DOMContentLoaded", function () {
        const buttons = document.querySelectorAll("[data-toggle='collapse']");
        buttons.forEach(function (button) {
            button.addEventListener("click", function () {
                const target = document.querySelector(this.getAttribute("href"));
                const allCollapse = document.querySelectorAll(".collapse.multi-collapse");
                allCollapse.forEach(function (collapse) {
                    if (collapse !== target) {
                        collapse.classList.remove("show");
                    }
                });
            });
        });
    });
</script>
    
{% endblock Page_Content %}
