{% extends "index.html" %} 
{% load static %} 
{% load custom_filters %}


{% block Page_Content %}
<style>
.radio-group.d-flex {
    display: flex;
    align-items: center;
}

.radio-group .form-check {
    margin-right: 15px;
}

  @media(max-width: 324px) {
    .card-body {
        font-size: 13.8px;
    }
}
</style>

<div class="card shadow mb-4">
  <div class="card-header py-4 px-4 d-flex justify-content-between">
      <div  style="display: flex;align-items: center;column-gap: 23px;">
          <h3 class="m-0 font-weight-bold text-primary">TRANSACTION ID : {{transaction.id}}</h3>
      </div>
  </div>
  <div class="card-body">
      <div class="row font-sizes">
        <div class="col-3">
            Date
          </div>:
          <div class="col-8">
            {{transaction.Date}}
          </div><br>
          <div class="col-3">
            Remark
          </div>:
          <div class="col-8">
            {{transaction.Remark}}
          </div>
      </div>
  </div>
</div>
<div class="card shadow mb-4">
  <div class="card-header py-4 px-4">
      <p style="display: flex;justify-content: end;column-gap: 10px;"> 
          
          {% if request.user.is_superuser %}
          <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#markAsPaidModal" data-action="addPayment">Add New Payment</a>
          {% else %}
              {% for i in request.user.role.permissions.all %}
                  {% if i.path_name == 'Add Payment' %}
                  <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#markAsPaidModal" data-action="addPayment">Add New Payment</a>
                  {% endif %}
              {% endfor %}
          {% endif %}

      </p>

      <div class="card">
        <div class="card-body">
          {% if payments %}
          <div class="d-flex justify-content-between">
            <h4 class="card-title">Payment Table</h4>
            {% if transaction.Invoice_number %}
            <h5 class="card-description">
              {{ transaction.Invoice_number }}
            </h5>
            {% endif %}
          </div>
          <table class="table table-bordered" width="100%" cellspacing="0">
              <thead>
                  <tr>
                      <th>Date</th>
                      <th>Remark</th>
                      <th>Amount</th>
                  </tr>
              </thead>
              <tbody>
                  {% for payment in payments %}
                  <tr>
                      <td>{{ payment.Created_at|date:"j/F/Y" }}</td>
                      <td>{% if payment.Remark %}{{ payment.Remark }}{% endif %}</td>
                      <td>{{ payment.amount }} - {{payment.Account}}</td>
                  </tr>
                  {% endfor %}
                  <tr>
                    <td></td>
                    <td><b>Total</b></td>
                    <td><b>{{transaction.Total_amount}}</b></td>
                  </tr>
                  <tr>
                    <td></td>
                    <td>Discount</td>
                    <td>{{transaction.Discount}}</td>
                  </tr>
                  <tr>
                    <td></td>
                    <td>Advance</td>
                    <td>{{transaction.Advance}}</td>
                  </tr>
                  <tr>
                    <td></td>
                    <td style="color:green;font-weight:bolder;">Paid Amount</td>
                    <td style="color:green;font-weight:bolder;">{{transaction.Paid_amount}}</td>
                  </tr>
                  <tr>
                    <td></td>
                    <td style="color:red;"><b>Balance</b></td>
                    <td style="display: flex;justify-content: space-between;color:red;"><b>{{transaction.Balance}}</b> 
                      {% if transaction.Balance > 0 %}
                      <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#markAsPaidModal" data-action="markAsPaid">Mark as Paid</a>
                      {% endif %}
                    </td>
                  </tr>
              </tbody>
          </table>
          {% else %}
          <label for="" class="text-primary">No Matches Found</label>
          {% endif %}
        </div>
      </div>

  </div>
</div>

<!-- Modal -->
<!-- "Payment form" Modal -->
<div class="modal fade" id="markAsPaidModal" tabindex="-1" role="dialog" aria-labelledby="markAsPaidModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title" id="markAsPaidModalLabel">Payment Form</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="clearForm()">
                <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form id="paymentForm" method="post" enctype="multipart/form-data">
              {% csrf_token %}
              {{ formset.management_form }}
              <div class="col-12">
                <div class="row pay_formss" id="formset">
                  {% for form in formset %}
                  <div class="col-md-6 col-lg-6">
                      <div class="form-group">
                          <label class="form-label">Amount</label>
                          {{ form.amount }}
                      </div>
                  </div>
                  <div class="col-md-5 col-lg-5">
                      <div class="form-group">
                          <label for="addon_price">Remark</label>
                          {{ form.Remark }}
                      </div>
                  </div>
                  {% endfor %}
                  <div class="col-md-1 col-lg-1">
                      <button id="add-more" class="btn btn-sm btn-primary mb-3"  type="button" style="margin-top: 36px;"><span>&plus;</span></button>
                  </div>
                </div>
                  
                <div class="row" id="empty_form" style="display: none;">
                  <div class="col-md-12">
                    <div class="row">
                      <div class="col-md-6 col-lg-6">
                          <div class="form-group">
                              <label class="form-label">Amount</label>
                              <input type="text" name="form-__prefix__-amount" class="form-control">
                          </div>
                      </div>
                      <div class="col-md-5 col-lg-5">
                          <div class="form-group">
                              <label for="addon_price">Remark</label>
                              <textarea rows=1, cols=30, name="form-__prefix__-Remark" class="form-control"></textarea>
                          </div>
                      </div>
                      <div class="col-md-1 col-lg-1">
                          <button type="button" class="btn btn-sm btn-info delete-row" style="margin-top: 36px;"><span>&minus;</span></button>
                      </div>
                    </div>
                  </div>
                </div>
                <hr id="hr">
                <div class="row">
                  <div class="col-md-12 col-lg-12">
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" name="paid_checkbox" id="paid_checkbox">
                      <label class="form-check-label" for="paid_checkbox">
                          Paid
                      </label>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-4 col-lg-4" id="Discount_field">
                    <div class="form-group">
                        <label class="form-label">Discount</label>
                        <input type="number" name="Discount" class="form-control" value="0">
                    </div>
                  </div>
                  <div class="col-md-4 col-lg-4" id="advance_field">
                    <div class="form-group">
                        <label class="form-label  advance-field">Advance</label>
                        <label class="form-label  amount-field">Amount</label>
                        <input type="number" name="Advance" class="form-control advance-field" value="0">
                        <input type="number" name="mark_as_paid" class="form-control  amount-field" value="{{ transaction.Balance }}">
                    </div>
                  </div>
                
                  <div class="col-md-4 col-lg-4" id="account_field">
                    <div class="form-group">
                        <label class="form-label">Account</label>
                        <select name="Account" class="form-control">
                            <option value="">Select Account</option>
                            {% for account in accounts %}
                                <option value="{{ account.id }}">{{ account.Name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                  </div>
                <div>
              </div>
              <div class="col-md-12 col-lg-12">
                <button type="submit" class="btn btn-primary">Submit</button>
              </div>
            </form>
          </div>
      </div>
  </div>
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script>
  $(document).ready(function () {
      $('#add-more').click(function () {
          var form_idx = $('#id_form-TOTAL_FORMS').val();
          console.log('Form index:', form_idx); // Log the value of form_idx to the console
          var new_form = $('#empty_form').html().replace(/__prefix__/g, form_idx);
          $('#formset').append(new_form);
          $('#id_form-TOTAL_FORMS').val(parseInt(form_idx) + 1);
      });

      $(document).on('click', '.delete-row', function () {
          $(this).closest('.col-md-12').remove();
      });
  });
</script>

<script>
  $(document).ready(function() {
      $('#markAsPaidModal').on('show.bs.modal', function (event) {
          var button = $(event.relatedTarget); // Button that triggered the modal
          var modal = $(this);
          // Pass any necessary data to the modal here using data attributes
      });

      $('#markAsPaidModal').on('hidden.bs.modal', function (event) {
          location.reload(); // Reload the page when the modal is closed
      });

      function clearForm() {
          // Assuming your form has an ID of "paymentForm"
          document.getElementById("paymentForm").reset(); // Reset the form
      }
  });
</script>

<script>
  $(document).ready(function() {
      // Function to show only "Advance" and "Account" fields
      function showAppropriateFields(action) {
          // Show all form groups within the modal body
          $('.modal-body').find('.form-group').hide();
          
          if (action === 'addPayment') {
              // Show all form groups when adding a new payment
              $('.modal-body').find('.form-group').show();
              $('.modal-body').find('.form-check').show();
              $('.modal-body').find('.advance-field').show();
              $('.modal-body').find('.amount-field').hide();
          } else if (action === 'markAsPaid') {
              // Show only "Advance" and "Account" fields when marking as paid
              $('.modal-body').find('input[name="Advance"]').closest('.form-group').show();
              $('.modal-body').find('select[name="Account"]').closest('.form-group').show();
              $('.modal-body').find('.amount-field').show();
              $('.modal-body').find('.advance-field').hide();
              $('.modal-body').find('.form-check').hide();
              $('.modal-body').find('#hr').hide();
              $('.modal-body').find('.pay_formss').hide();
              $('.modal-body').find('#Discount_field').hide();
          }
      }

      // Call the showAppropriateFields function when the modal is shown
      $('#markAsPaidModal').on('show.bs.modal', function (event) {
          var button = $(event.relatedTarget); // Button that triggered the modal
          var action = button.data('action'); // Extract action from data-attribute
          showAppropriateFields(action);
      });
  });
</script>
<script>
  $(document).ready(function() {

      // Listen for changes in the checkbox
      $('#paid_checkbox').change(function() {
          if ($(this).is(':checked')) {
              $('#account_field').show(); // Show the Account field when checkbox is checked
              $('#advance_field').hide();
              $('#Discount_field').hide();
          } else { // Hide the Account field when checkbox is unchecked
            $('#account_field').show(); // Show the Account field when checkbox is checked
            $('#advance_field').show();
            $('#Discount_field').show();
          }
      });
  });
</script>
{% endblock Page_Content %}
