<!DOCTYPE html>
<html>
<head>
    <title>Patient Details</title>
    <style type="text/css">
        body {
            font-family: Arial, sans-serif;
        }
        h1 {
            text-align: center;
            margin-bottom: 20px;
        }
        table {
            width: 100%;
            border-collapse: collapse;
            margin-bottom: 20px;
        }
        table th, table td {
            border: 1px solid #dddddd;
            padding: 8px;
            text-align: left;
        }
        table th {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>
    <h1>Patient Details</h1>
    <table>
        <tr>
            <th>Field</th>
            <th>Value</th>
        </tr>
        <tr>
            <td>Patient Id</td>
            <td>{{ view_patient.User_id }}</td>
        </tr>
        <tr>
            <td>Place</td>
            <td>{{ view_patient.Place }}اَلْعَرَبِيَّةُاَلْعَرَبِيَّةُاَلْعَرَبِيَّةُ</td>
        </tr>
        <tr>
            <td>Phone</td>
            <td>{{ view_patient.Phone_number }}اَلْعَرَبِيَّةُاَلْعَرَبِيَّةُاَلْعَرَبِيَّةُاَلْعَرَبِيَّةُاَلْعَرَبِيَّةُ</td>
        </tr>
        <tr>
            <td>Remark</td>
            <td>{{ view_patient.remark }}</td>
        </tr>
        <!-- Add more fields as needed -->
    </table>
</body>
</html>
