{% extends "index.html" %} 
{% load static %} 
{% load custom_filters %}


{% block Page_Content %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/js/bootstrap.min.js" integrity="sha512-ykZ1QQr0Jy/4ZkvKuqWn4iF3lqPZyij9iRv6sGqLRdTPkY69YX6+7wvVGmsdBbiIfN/8OdsI7HABjvEok6ZopQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<style>
  .profile-image-container {
      position: relative;
      display: inline-block;
  }
  
  .profile-image {
      width: 106px;
      height: auto;
  }
.dot-active {
    height: 12px;
    width: 12px;
    background-color: #00ff00;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    margin-left: -20px;
    margin-top: 8px;
  }
.dot-inactive {
    height: 12px;
    width: 12px;
    background-color: red;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    margin-left: -20px;
    margin-top: 8px;
  }
  /* Custom CSS for horizontal alignment of radio buttons */
.radio-group.d-flex {
    display: flex;
    align-items: center;
}

.radio-group .form-check {
    margin-right: 15px;
}

  @media(max-width: 324px) {
    .card-body {
        font-size: 13.8px;
    }
}
</style>


<div class="card shadow mb-4">
  <div class="card-header py-4 px-4 d-flex justify-content-between">
      <div  style="display: flex;align-items: center;column-gap: 23px;">
          <div class="profile-image-container">
                {% if view_patient.profile_img %}
                    <img class="img-xs rounded profile-image" src="{{ view_patient.profile_img.url }}" alt="Profile image">
                {% else %}
                    <img class="img-xs rounded profile-image" src="https://ui-avatars.com/api/?background=a3a4cc&color=fff&size=106&name={{ view_patient.first_name }}&rounded=false&bold=true" alt="Profile image">
                {% endif %}
                {% if view_patient.status == 'Active' %}
                <span class="dot-active" title="Status"></span>
                {% else %}
                <span class="dot-inactive" title="Status"></span>
                {% endif %}
          </div>
          <h3 class="m-0 font-weight-bold text-primary">{{view_patient.first_name}} {% if view_patient.last_name %}{{view_patient.last_name}}{% endif %}</h3>
      </div>
      <div style="display: grid;justify-items: end;">
        <a href="{% url 'Edit_patient' patientedit_id=view_patient.id %}?next_url={{ request.path }}" style="font-size: 20px;color:{%company_constant_color%};" title="Edit"><i class="fas fa-edit"></i></a>
    </div>
  </div>
  <div class="card-body">
      <div class="row font-sizes">
        <div class="col-3">
            Patient Id
          </div>:
          <div class="col-8">
              {% if view_patient.User_id %}
              {{view_patient.User_id}}
              {% endif %} 
          </div><br>
          <div class="col-3">
            Place
          </div>:
          <div class="col-8">
              {% if view_patient.Place %}
              {{view_patient.Place}}
              {% endif %} 
          </div><br>
          <div class="col-3">
              Phone
          </div>:
          <div class="col-8">
              {% if view_patient.Phone_number %}
              {{view_patient.Phone_number}}
              {% endif %} 
          </div>
          <div class="col-3">
            Remark
          </div>:
          <div class="col-8">
              {% if view_patient.remark %}
              {{view_patient.remark}}
              {% endif %} 
          </div>
      </div>
  </div>
  <div class="card-body">
    <div class="row">

      <div class="col-xl-3 col-md-6 mb-4">
          <div class="card border-left-primary shadow h-100 py-2">
              <div class="card-body">
                  <div class="row no-gutters align-items-center">
                      <div class="col mr-2">
                          <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                              Total Amount</div>
                          <div class="h5 mb-0 font-weight-bold text-gray-800">₹{{total_amount|floatformat:2}}</div>
                      </div>
                      <div class="col-auto">
                          <i class="fa-2x text-gray-300">₹</i>
                      </div>
                  </div>
              </div>
          </div>
      </div>

      <!-- Earnings (Monthly) Card Example -->
      <div class="col-xl-3 col-md-6 mb-4">
          <div class="card border-left-success shadow h-100 py-2">
              <div class="card-body">
                  <div class="row no-gutters align-items-center">
                      <div class="col mr-2">
                          <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                              Paid Amount</div>
                              <div class="row no-gutters align-items-center">
                                <div class="col-auto">
                                    <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">₹{{total_paid_amount|floatformat:2}}</div>
                                </div>
                                <div class="col">
                                    <div class="progress progress-sm mr-2">
                                        <div class="progress-bar bg-success" role="progressbar"
                                            style="width: {{ progress_percentage }}%" aria-valuenow="{{ progress_percentage }}" aria-valuemin="0"
                                            aria-valuemax="100"></div>
                                    </div>
                                </div>
                            </div>
                      </div>
                      <div class="col-auto">
                          <i class="fa-2x text-gray-300">₹</i>
                      </div>
                  </div>
              </div>
          </div>
      </div>

      <!-- Earnings (Monthly) Card Example -->
      <div class="col-xl-3 col-md-6 mb-4">
          <div class="card border-left-info shadow h-100 py-2">
              <div class="card-body">
                  <div class="row no-gutters align-items-center">
                      <div class="col mr-2">
                          <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Advance
                          </div>
                          <div class="row no-gutters align-items-center">
                              <div class="col-auto">
                                  <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">₹{{total_advance|floatformat:2}}</div>
                              </div>
                          </div>
                      </div>
                      <div class="col-auto">
                          <i class="fa-2x text-gray-300">₹</i>
                      </div>
                  </div>
              </div>
          </div>
      </div>

      <!-- Pending Requests Card Example -->
      <div class="col-xl-3 col-md-6 mb-4">
          <div class="card border-left-warning shadow h-100 py-2">
              <div class="card-body">
                  <div class="row no-gutters align-items-center">
                      <div class="col mr-2">
                          <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                              Balance</div>
                          <div class="h5 mb-0 font-weight-bold text-gray-800">₹{{total_balance|floatformat:2}}</div>
                      </div>
                      <div class="col-auto">
                          <i class="fa-2x text-gray-300">₹</i>
                      </div>
                  </div>
              </div>
          </div>
      </div>
    </div>
  </div>
</div>
<div class="card shadow mb-4">
  <div class="card-header py-4 px-4">
      <p style="display: flex;justify-content: end;column-gap: 10px;"> 
          
          {% if request.user.is_superuser %}
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModalAdd">
              <i class="fa fa-plus"></i> Add
            </button>
          {% else %}
              {% for i in request.user.role.permissions.all %}
                  {% if i.path_name == 'Edit Patient' %}
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModalAdd">
                      <i class="fa fa-plus"></i> Add
                    </button>
                  {% endif %}
              {% endfor %}
          {% endif %}

      </p>

        <div class="card">
          <div class="card-body">
            {% if patient_transactions %}
            <div class="d-flex justify-content-between">
                <h4 class="card-title">Patient Details</h4>
            </div>
            <br>
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Date</th>
                        <th>Remark</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for transaction in patient_transactions %}
                    <tr>
                        <td>{{forloop.counter}}</td>
                        <td>{{ transaction.Date|date:"M d, Y" }}</td>
                        <td>{{ transaction.Remark }}</td>
                        <td>
                          <button type="button" class="btn btn-outline-primary edit-button" data-bs-toggle="modal" data-bs-target="#exampleModal{{transaction.id}}" data-transaction-id="{{ transaction.id }}">
                            Edit
                          </button>
                          <a href="{% url 'make_payment' view_patient.id transaction.id %}" class="btn btn-outline-success">
                            Make Payment
                          </a>
                        </td>
                    </tr>

                    <!-- Modal -->
                    <div class="modal fade" id="exampleModal{{transaction.id}}" tabindex="-1" aria-labelledby="exampleModalLabel{{transaction.id}}" aria-hidden="true">
                      <div class="modal-dialog">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel{{transaction.id}}">Edit Patient Details</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                          </div>
                          <div class="modal-body">
                            <form class="transaction-form" data-transaction-id="{{ transaction.id }}" enctype="multipart/form-data">
                              {% csrf_token %}
                              <input type="hidden" name="transaction_id" value="{{ transaction.id }}">
                              <input type="hidden" id="patientview_id" value="{{ view_patient.id }}">
                              <div class="row">
                                <div class="col-md-6 col-lg-6">
                                  <div class="form-group">
                                    <label class="form-label">Date<span class="danger" style="color: red;"> *</span></label>
                                    <input type="date" name="Date" class="form-control">
                                    {% if form.Date.errors %}
                                        <ul class="errors">
                                            {% for error in form.Date.errors %}
                                                <li>{{ error }}</li>
                                            {% endfor %}
                                        </ul>
                                    {% endif %}
                                  </div>
                                </div>
                      
                                <div class="col-md-12 col-lg-12">
                                  <div class="form-group">
                                    <label class="form-label">Description</label>
                                    <textarea name="Remark" class="form-control"></textarea>
                                  </div>
                                </div>
                              </div>
                              <br>
                              <button type="submit" class="btn btn-primary me-2">Submit</button>
                              <button type="button" class="btn btn-light" data-bs-dismiss="modal">Cancel</button>
                            </form>
                          </div>
                        </div>
                      </div>
                    </div>

                    {% endfor %}
                </tbody>
            </table>
            <hr>
            {% else %}
            <label for="" class="text-primary">No Matches Found</label>
            {% endif %}
          </div>
        </div>

  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModalAdd" tabindex="-1" aria-labelledby="exampleModalLabelAdd" aria-hidden="true">
  <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabelAdd">Add New Patient Details</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
              <form class="transaction-form" data-transaction-id="" enctype="multipart/form-data">
                  {% csrf_token %}
                  <input type="hidden" name="transaction_id" value="">
                  <div class="row">
                      <div class="col-md-6 col-lg-6">
                          <div class="form-group">
                              <label class="form-label">Date<span class="danger" style="color: red;"> *</span></label>
                              <input type="date" name="Date" class="form-control">
                              {% if form.Date.errors %}
                                <ul class="errors">
                                    {% for error in form.Date.errors %}
                                        <li>{{ error }}</li>
                                    {% endfor %}
                                </ul>
                              {% endif %}
                          </div>
                      </div>
                      <div class="col-md-12 col-lg-12">
                          <div class="form-group">
                              <label class="form-label">Description</label>
                              <textarea name="Remark" class="form-control"></textarea>
                          </div>
                      </div>
                  </div>
                  <br>
                  <button type="submit" class="btn btn-primary me-2">Submit</button>
                  <button type="button" class="btn btn-light" data-bs-dismiss="modal">Cancel</button>
              </form>
          </div>
      </div>
  </div>
</div>


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
$(document).ready(function() {
    $('.transaction-form').on('submit', function(event) {
        event.preventDefault();
        var $form = $(this);
        var formData = new FormData(this);
        var transactionId = $form.data('transaction-id');  // Get the transaction ID if it exists

        $.ajax({
            url: '',  // Your URL for handling the form submission
            type: 'POST',
            data: formData,
            processData: false,
            contentType: false,
            headers: {
                'X-Requested-With': 'XMLHttpRequest'
            },
            success: function(response) {
                if (response.status === 'success') {
                    $('.modal').modal('hide');
                    location.reload();
                } else {
                    var errors = response.errors;
                    $.each(errors, function(key, value) {
                        //alert(key + ": " + value);
                    });
                }
            }
        });
    });

    // Populate the form with existing transaction data when the modal is shown
    $('.edit-button').on('click', function() {
        var transactionId = $(this).data('transaction-id');
        $.ajax({
            url: '/Patient_list/' + $('#patientview_id').val() + '/transaction/' + transactionId + '/',  // URL to fetch the transaction data
            type: 'GET',
            success: function(data) {
                var modal = $('#exampleModal' + transactionId);
                modal.find('input[name="Date"]').val(data.Date);
                modal.find('textarea[name="Remark"]').val(data.Remark);
            }
        });
    });
    $(document).ajaxSuccess(function(event, xhr, settings) {
      $('html, body').animate({ scrollTop: 0 }, 'slow');
  });
});

</script>


{% endblock Page_Content %}
