{% extends "index.html" %} 
{% load static %} 



{% block Page_Content %}


<div class="col-md-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Change Password</h4>
        {% comment %} <p class="card-description">
          Change Password Form
        </p> {% endcomment %}
        <form action="" method="POST" >
          {% csrf_token %}
          <div class="row">
  
            <div class="col-md-12 col-lg-6">
              <div class="form-group">
                <label class="form-label">New Password<span class="danger" style="color: red;"> *</span></label>
                <div class="input-group">
                  {{form.new_password1}}
                  <div class="input-group-append">
                    <span class="input-group-text">
                        <i class="fa fa-eye togglepassword" style="color: black;"></i>
                    </span>
                  </div>
                </div>
                {% if form.errors.new_password1 %}
                <p style="color: red;">{{ form.errors.new_password1.0 }}</p>
                {% endif %}
              </div>
            </div>
            <div class="col-md-6 col-lg-6">
              <div class="form-group">
                <label class="form-label">Retype Password<span class="danger" style="color: red;"> *</span></label>
                <div class="input-group">
                  {{form.new_password2}}
                  <div class="input-group-append">
                    <span class="input-group-text">
                        <i class="fa fa-eye togglepassword1" style="color: black;"></i>
                    </span>
                  </div>
                </div>
                {% if form.errors.new_password2 %}
                <p style="color: red;">{{ form.errors.new_password2.0 }}</p>
                {% endif %}
              </div>
            </div>
  
          </div>
       
         <br>
          <button type="submit" class="btn btn-primary me-2">Submit</button>
          <button onclick="window.location.href='{% url 'admin' %}'" class="btn btn-light" type="button">Cancel</button>
        </form>
      </div>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.7.0.js" integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM="
  crossorigin="anonymous"></script>
  <script>
  $('.togglepassword').click(function () {
  $(this).toggleClass("fa-eye-slash");
  var input = $('#id_new_password1')
  if (input.attr('type') == 'password') {
    input.attr('type', 'text');
  } else {
    input.attr('type', 'password');
  }
  })
  
  $('.togglepassword1').click(function () {
  $(this).toggleClass("fa-eye-slash");
  var input = $('#id_new_password2')
  if (input.attr('type') == 'password') {
    input.attr('type', 'text');
  } else {
    input.attr('type', 'password');
  }
  })
  </script> 
{% endblock Page_Content %}
